<%-include("components/header.ejs")%>
<div
  class="bg-white dark:bg-gray-900 dark:text-white text-center w-full h-[80vh] flex justify-center items-center"
>
  <h1 class="text-4xl font-bold"><%= error %></h1>
</div>
<%-include("components/footer.ejs")%>
